#right-col{
    padding-bottom: 2.5rem;
    margin-left: 100px;
    margin-right: 100px;
    background-color: lightgray;
}
.container{
    display: flex;
    justify-content: space-around;
    border: 5px;
}
.img{
    display: inline-block;
    text-align: center;
    background-color: #ffebe6;
}