*{
	margin:0px;
	padding: 0px;

}

body{
	background-color: #F0F8FF;
}

.main-banner{
	margin:0 auto;
	/*to centee the banners*/
	width:1200px;
	height: 400px;
	background-color: #fff;
	overflow : hidden;
	position : relative;
}
.main-banner .imgban{
	width:100%;
	height: 100%;
	position: absolute;
	top :0px;
	transition: all ease-in-out 500ms;
	-webkit-transition: all ease-in-out 500ms;
	-moz-transition: all ease-in-out 500ms;
}


.main-banner #imgban3{
	background-image: url("Japan.png");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.main-banner #imgban2{
	background-image: url("LOCAL collection.png");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.main-banner #imgban1{
	background-image: url("Banner.png");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.imgbanbtn{
	width :40px;
	height: 40px;
	background-color: #fff;
	border-radius: 4px;
	position: absolute;
	top: 180px;
	z-index: 2000;
	opacity: 0.8;
	cursor: pointer;
}
.imgbanbtn:hover{
	opacity: 0.9;
}

.imgbanbtn-prev{
	left:5px;
	background-image: url("backbutton.png");
	background-size: 60%;
	background-position: center;
	background-repeat: no-repeat;

}
.imgbanbtn-next{
	right:5px;
	background-image: url("nextbutton.png");
	background-size: 60%;
	background-position: center;
	background-repeat: no-repeat;

}

.main-banner.imgban-box h2{
	font-family: arial;
	font-size: 60px;
	color: #fff;
}

.main-banner #imgban3 .imgban-box{
	padding-top: 220px;
	padding-left: 100px;
}
.main-banner #imgban2 .imgban-box{
	padding-top: 220px;
	padding-right: 100px;
	float: right;
	text-align: right;
}
.main-banner #imgban1 .imgban-box{
	padding-top: 70px;
	padding-left: 100px;
}

.flex-container {
  display: flex;

}

.flex-container  div {
  width : 150px;
  height: 50px;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
  text-align:center;
  color:black;
}
.flex-container img{
	 width:150px;
	 height:70px;
}
