*{
	margin:0;
	padding:0;
}


#page {
	position: relative;
	min-height: 100vh;
	margin-top: 50px;
}

#rightcol {
	padding-bottom: 2.5rem;
	margin-left: 100px;
	margin-right: 100px;
}

#rc {
	padding-bottom: 2.5rem;
	margin-left: 300px;
	margin-right: 250px;
	top: 200;
}


.sidebar {
  width: 200px;
  position: fixed;
  z-index: 1;
  margin-top: 30px;
  margin-left: 50px;
  height: 100%;
  background-color: #ffffff00;
  padding-top: 16px;
  font-size: 1.2em;
}


.top {
  float: right;
  width: 200px;
  position: fixed;
  z-index: 1;
  margin-top: 400px;
  Margin-left: 90%;
  height: 100%;
  background-color: #ffffff00;
  padding-top: 16px;
  font-size: 1.2em;
}


footer {
	display: flex;
	justify-content: center;
	bottom: 0;
	padding-right: 10px;
	width: 100%;
	background-color: #f04343;
	font-family:Helvetica,Tahoma,Arial,Sans-serif;
}
a {
	color: black;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.footerul {
	flex-direction: row;
	list-style-type: none;
}


.footerli {
	color: white;
	display: block;
	width: 300px;
	padding-bottom: 5px;
	margin: 10px;}
